* {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-decoy {
  border: solid whitesmoke 1px;
  border-radius: 4px;
  margin: 40px;
  text-align: center;
  padding: 10px;
}

.logo-text {
  color: white;
  text-decoration: none;
}

/* .gsc-option-meu {
  background-color: white;
} */



